<%- include('partials/navbar'); %>
<div class="container">
  <h1 class="mt-5">Wishlist</h1>
  <%- include('partials/messages'); %>
  <p class="lead mt-3">Hi <%= user.name %>! Here is your wishlist</p>


  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Product Name</th>
        <th scope="col">Price</th>
        <th>.</th>
      </tr>
    </thead>
    <tbody>
      <% var c=0; %> <% for(var i=0; i < user.wishlist.length; i++) { %>
      <tr>
        <td><img src="<%= user.wishlist[i].images[0] %>" /></td>
        <td><%= user.wishlist[i].name %></td>
        <td><%= user.wishlist[i].price %></td>
        <td></td>
        <% c=c+user.wishlist[i].price %>
      </tr>
      <% } %>
    </tbody>
  </table>
  <% if(user.wishlist.length===0){ %>
  <p>No items to show.</p>
  <% } %>
  <div class="d-flex flex-row-reverse">
    <h3>Total price: &#x20B9;<%=c %></h3>
    
  </div>
  <div class="d-flex flex-row-reverse">
    <form action='/wishlist' method="POST">
        <button type="submit" class="btn btn-warning">Add all to cart!</button>
      </form>
  </div>
 
</div>
